<h1> checkout! </h1>
<div class="row">
  <div class="container">
    <% @carted_products.each do |carted_product| %>
      <div class="col">
        <p> <%= carted_product.product.name %></p>
        <p> <%= carted_product.product.price %></p>
        <%= form_tag "/carted_products/#{carted_product.id}", method: :delete do %>
          <p> <button type="submit" class="btn btn-primary btn-sm" role="button">Remove from cart</button></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div>
   <p>
   <a href="/">Back to all Produkts</a>
      </p>
  <p><%= form_tag "/orders", method: :post do %>
    <button type="submit" class="btn btn-primary btn-sm" role="button">Checkout</button>
  <% end %></p>
</div>